@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #555351;
  ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #555351;
    --foreground: #ededed;
  }
}
html,body {
  height: 100%;
  width: 100%;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.container_ {
  @apply w-full max-w-[1460px] px-4 mx-auto sm:px-5
}
