@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #555351;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #555351;
    --foreground: #ededed;
  }
}
html,
body {
  height: 100%;
}
body {
  color: var(--foreground);
  background: var(--background);
}
.container_ {
  @apply w-full max-w-[1460px] px-4 mx-auto sm:px-5;
}
/* .banner {
  background: linear-gradient(
      359.84deg,
      #000000 1.04%,
      rgba(28, 25, 23, 0) 77.98%
    ),
    url(/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 26px;
} */
